# SPDX-License-Identifier: GPL-2.0
#
# Sophgo Pin control drivers
#
config PINCTRL_SG2044
	bool "pin control support for Sophgo"
	select PINMUX
	select PINCTRL_GROUPS
	select GENERIC_PINCONF
	select GENERIC_PINCTRL_GROUPS
	help
	  This selects GPIO and pinctrl driver for Sophgo
	  platforms.
