CONFIG_SYSVIPC=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_BOOT_CONFIG=y
CONFIG_EXPERT=y
CONFIG_PERF_EVENTS=y
CONFIG_ARCH_SOPHGO=y
CONFIG_ARCH_THEAD=y
# CONFIG_ERRATA_THEAD_MAE is not set
# CONFIG_ERRATA_THEAD_PMU is not set
CONFIG_HZ_100=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=131072
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
CONFIG_SERIO_LIBPS2=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_SOPHGO_VTTY=y
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set
# CONFIG_IOMMU_SUPPORT is not set
CONFIG_SOPHGO_MAP_MEMORY=y
CONFIG_SOPHGO_MSG_CONFLICT_IRQ=y
CONFIG_COMMON_CLK=y
CONFIG_RESET_CONTROLLER=y
CONFIG_RESET_SOPHGO=y
CONFIG_TMPFS=y
CONFIG_HUGETLBFS=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_PRINTK_TIME=y
# CONFIG_FTRACE is not set
# CONFIG_RUNTIME_TESTING_MENU is not set
CONFIG_MEMTEST=y
CONFIG_SOPHGO_MSG_CONFLICT_IRQ=y
CONFIG_SOPHGO_MAP_MEMORY=y
