// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 Sophgo Technology Inc. All rights reserved.
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/reset/sophgo,sg2044-reset.h>
#include <dt-bindings/clock/sophgo,sg2044-clock.h>
#include "sg2044-clock.dtsi"
#include "sg2044-pinctrl.dtsi"

/ {
	model = "sophgo sg2260";
	compatible = "sophgo, sg2260_pld";
	#address-cells = <2>;
	#size-cells = <2>;
	dma-noncoherent;

	memory@80200000 {
		device_type = "memory";
		reg = <0x00000000 0x80200000 0x00000000 0xfe00000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <50000000>;
		cpu@0 {
			device_type = "cpu";
			reg = <0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv_zicbom_zicbop_zicboz_zicond1p0_zihintntl0p2_zihintpause_zawrs_zfa0p1_zfbfmin0p8_zfh_zca_zcb_zcd_zba_zbb_zbc_zbs_zvfbfmin0p8_zvfbfwma0p8_zvfh0p1_sscofpmf_sstc_svinval_svnapot_svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			mmu-type = "riscv,sv48";
			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
		cpu@1 {
			device_type = "cpu";
			reg = <1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv_zicbom_zicbop_zicboz_zicond1p0_zihintntl0p2_zihintpause_zawrs_zfa0p1_zfbfmin0p8_zfh_zca_zcb_zcd_zba_zbb_zbc_zbs_zvfbfmin0p8_zvfbfwma0p8_zvfh0p1_sscofpmf_sstc_svinval_svnapot_svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			mmu-type = "riscv,sv48";
			cpu1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
		cpu@2 {
			device_type = "cpu";
			reg = <2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv_zicbom_zicbop_zicboz_zicond1p0_zihintntl0p2_zihintpause_zawrs_zfa0p1_zfbfmin0p8_zfh_zca_zcb_zcd_zba_zbb_zbc_zbs_zvfbfmin0p8_zvfbfwma0p8_zvfh0p1_sscofpmf_sstc_svinval_svnapot_svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			mmu-type = "riscv,sv48";
			cpu2_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
		cpu@3 {
			device_type = "cpu";
			reg = <3>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv_zicbom_zicbop_zicboz_zicond1p0_zihintntl0p2_zihintpause_zawrs_zfa0p1_zfbfmin0p8_zfh_zca_zcb_zcd_zba_zbb_zbc_zbs_zvfbfmin0p8_zvfbfwma0p8_zvfh0p1_sscofpmf_sstc_svinval_svnapot_svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			mmu-type = "riscv,sv48";
			cpu3_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		clint_mswi: interrupt-controller@6e04000000 {
			compatible = "thead,c900-clint-mswi";
			reg = <0x0000006e 0x04000000 0x00000000 0x00004000>;
			interrupts-extended = <
				&cpu0_intc 3
				&cpu1_intc 3
				&cpu2_intc 3
				&cpu3_intc 3
				>;
		};

		clint_mtimer0: timer@6840000000 {
			compatible = "thead,c900-clint-mtimer";
			reg = <0x00000068 0x40000000 0x00000000 0x00008000>;
			interrupts-extended = <
				&cpu0_intc 7
				&cpu1_intc 7
				&cpu2_intc 7
				&cpu3_intc 7
				>;
		};

		//4cores PLIC2
		intc: interrupt-controller@6e00000000 {
			compatible = "thead,c900-plic";
			#address-cells = <0>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupts-extended = <
				&cpu0_intc  0xffffffff &cpu0_intc  9
				&cpu1_intc  0xffffffff &cpu1_intc  9
				&cpu2_intc  0xffffffff &cpu2_intc  9
				&cpu3_intc  0xffffffff &cpu3_intc  9
				>;
			reg = <0x0000006e 0x00000000 0x00000000 0x10000000>;
			reg-names = "control";
			riscv,max-priority = <7>;
			riscv,ndev = <415>;
		};
#if 0
		dummy_apb: apb-clock {
			compatible = "fixed-clock";
			clock-frequency = <250000000>;
			clock-output-names = "dummy_apb";
			#clock-cells = <0>;
		};

		dummy_ahb: ahb-clock {
			compatible = "fixed-clock";
			clock-frequency = <250000000>;
			clock-output-names = "dummy_ahb";
			#clock-cells = <0>;
		};

		dummy_axi: axi-clock {
			compatible = "fixed-clock";
			clock-frequency = <25000000>;
			clock-output-names = "dummy_axi";
			#clock-cells = <0>;
		};
#endif
		uart0: serial@7030000000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x00000070 0x30000000 0x00000000 0x00001000>;
			interrupt-parent = <&intc>;
			interrupts = <41 IRQ_TYPE_LEVEL_HIGH>;
			clock-frequency = <500000000>;
			clocks = <&div_clk GATE_CLK_UART_500M>,
					 <&div_clk GATE_CLK_APB_UART>;
			clock-names = "baudclk", "apb_pclk";
			current-speed = <115200>;
			reg-shift = <2>;
			reg-io-width = <4>;
		};
#if 0
		gpio0: gpio@7040009000 {
			compatible = "snps,dw-apb-gpio";
			reg = <0x70 0x40009000 0x0 0x400>;
			#address-cells = <1>;
			#size-cells = <0>;
			#if 0
			clocks = <&div_clk GATE_CLK_APB_GPIO>,
				 <&div_clk GATE_CLK_APB_GPIO_INTR>,
				 <&div_clk GATE_CLK_GPIO_DB>;
			clock-names = "base_clk", "intr_clk", "db_clk";
			#endif

			port0a: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				bank-name = "port0a";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&intc>;
				interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;
			};
		};

		gpio1: gpio@704000a000 {
			compatible = "snps,dw-apb-gpio";
			reg = <0x70 0x4000a000 0x0 0x400>;
			#address-cells = <1>;
			#size-cells = <0>;
			#if 0
			clocks = <&div_clk GATE_CLK_APB_GPIO>,
				 <&div_clk GATE_CLK_APB_GPIO_INTR>,
				 <&div_clk GATE_CLK_GPIO_DB>;
			clock-names = "base_clk", "intr_clk", "db_clk";
			#endif

			port1a: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				bank-name = "port0a";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&intc>;
				interrupts = <27 IRQ_TYPE_LEVEL_HIGH>;
			};
		};

		gpio2: gpio@704000b000 {
			compatible = "snps,dw-apb-gpio";
			reg = <0x70 0x4000b000 0x0 0x400>;
			#address-cells = <1>;
			#size-cells = <0>;
			#if 0
			clocks = <&div_clk GATE_CLK_APB_GPIO>,
				 <&div_clk GATE_CLK_APB_GPIO_INTR>,
				 <&div_clk GATE_CLK_GPIO_DB>;
			clock-names = "base_clk", "intr_clk", "db_clk";
			#endif

			port2a: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				bank-name = "port0a";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&intc>;
				interrupts = <28 IRQ_TYPE_LEVEL_HIGH>;
			};
		};

		p2p:  p2p {
			compatible = "sophgon, p2p";
			reg = <0x0000006c 0x08790000 0x00000000 0x000010000>,
			      <0x0000006c 0x087D0000 0x00000000 0x000010000>;
			reg-names = "cdma_cfg","cxp_top_cfg";
			interrupt-parent = <&intc>;
			interrupts = <127 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "CXP_CDMA0";
		};

		stmmac_axi_setup: stmmac-axi-config {
			snps,wr_osr_lmt = <1>;
			snps,rd_osr_lmt = <2>;
			snps,blen = <4 8 16 0 0 0 0>;
		};

		mtl_rx_setup: rx-queues-config {
			snps,rx-queues-to-use = <8>;
			queue0 {snps,rx-sched-wsp;};
			queue1 {snps,rx-sched-wsp;};
			queue2 {snps,rx-sched-wsp;};
			queue3 {snps,rx-sched-wsp;};
			queue4 {snps,rx-sched-wsp;};
			queue5 {snps,rx-sched-wsp;};
			queue6 {snps,rx-sched-wsp;};
			queue7 {snps,rx-sched-wsp;};
		};

		mtl_tx_setup: tx-queues-config {
			snps,tx-queues-to-use = <8>;
			queue0 {};
			queue1 {};
			queue2 {};
			queue3 {};
			queue4 {};
			queue5 {};
			queue6 {};
			queue7 {};
		};
#endif
#if 0
		xlgmac_axi_setup: xlgmac-axi-config {
			snps,wr_osr_lmt = <63>;
			snps,rd_osr_lmt = <3>;
			snps,blen = <4 8 16 32 64 128 256>;
		};

		xlg_mtl_rx_setup: xlg-rx-queues-config {
			snps,rx-queues-to-use = <8>;
			queue0 {snps,rx-sched-wsp;};
			queue1 {snps,rx-sched-wsp;};
			queue2 {snps,rx-sched-wsp;};
			queue3 {snps,rx-sched-wsp;};
			queue4 {snps,rx-sched-wsp;};
			queue5 {snps,rx-sched-wsp;};
			queue6 {snps,rx-sched-wsp;};
			queue7 {snps,rx-sched-wsp;};
		};

		xlg_mtl_tx_setup: xlg-tx-queues-config {
			snps,tx-queues-to-use = <8>;
			queue0 {};
			queue1 {};
			queue2 {};
			queue3 {};
			queue4 {};
			queue5 {};
			queue6 {};
			queue7 {};
		};
#endif
#if 0
		ethernet0: ethernet@7030006000 {
			compatible = "sophgo,ethernet", "snps,dwmac-4.00";
			reg = <0x70 0x30006000 0x0 0x4000>;
			interrupt-names = "macirq";
			interrupt-parent = <&intc>;
			interrupts = <296 IRQ_TYPE_LEVEL_HIGH>;
			clock-names = "clk_tx", "gate_clk_tx", "stmmaceth", "ptp_ref", "gate_clk_ref";
			clocks = <&div_clk DIV_CLK_FPLL0_TX_ETH0>,
				<&div_clk GATE_CLK_TX_ETH0>,
				<&div_clk GATE_CLK_AXI_ETH0>,
				<&div_clk DIV_CLK_FPLL0_PTP_REF_I_ETH0>,
				<&div_clk GATE_CLK_REF_ETH0>;
			/* no hash filter and perfect filter support */
			snps,multicast-filter-bins = <0>;
			snps,perfect-filter-entries = <1>;

			snps,txpbl = <32>;
			snps,rxpbl = <32>;
			snps,aal;
			snps,tso;

			snps,axi-config = <&stmmac_axi_setup>;
			snps,mtl-rx-config = <&mtl_rx_setup>;
			snps,mtl-tx-config = <&mtl_tx_setup>;

			phy-mode = "rgmii-id";
			fixed-link {
				speed = <1000>;
				full-duplex;
			};
		};
#endif
#if 0
		dwcxlg0: dwcxlg@6c08000000 {
			compatible = "sophgo,ethernet";
			reg = <0x6c 0x08000000 0x0 0x40000>;
			interrupt-parent = <&intc>;
			#if 1
			interrupts = <92 IRQ_TYPE_LEVEL_HIGH 93 IRQ_TYPE_LEVEL_HIGH
						  94 IRQ_TYPE_LEVEL_HIGH 95 IRQ_TYPE_LEVEL_HIGH
						  96 IRQ_TYPE_LEVEL_HIGH 97 IRQ_TYPE_LEVEL_HIGH
						  98 IRQ_TYPE_LEVEL_HIGH 99 IRQ_TYPE_LEVEL_HIGH
						  100 IRQ_TYPE_LEVEL_HIGH
						  109 IRQ_TYPE_LEVEL_HIGH 110 IRQ_TYPE_LEVEL_HIGH
						  111 IRQ_TYPE_LEVEL_HIGH 112 IRQ_TYPE_LEVEL_HIGH
						  113 IRQ_TYPE_LEVEL_HIGH 114 IRQ_TYPE_LEVEL_HIGH
						  115 IRQ_TYPE_LEVEL_HIGH 116 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "tx_ch0", "tx_ch1", "tx_ch2", "tx_ch3",
							   "tx_ch4", "tx_ch5", "tx_ch6",
							   "rx_ch0", "rx_ch1", "rx_ch2", "rx_ch3",
							   "rx_ch4", "rx_ch5", "rx_ch6", "rx_ch7";
			snps,multi_msi_en;
			#else
			interrupts = <92 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq";
			#endif
			snps,tso;
			snps,axi-config = <&xlgmac_axi_setup>;
			snps,mtl-rx-config = <&xlg_mtl_rx_setup>;
			snps,mtl-tx-config = <&xlg_mtl_tx_setup>;

			phy-mode = "xlgmii";
			fixed-link {
				speed = <100000>;
				full-duplex;
			};
		};
#endif
	};

	aliases {
		serial0 = &uart0;
		#if 0
		ethernet0 = &ethernet0;
		dwcxlg0 = &dwcxlg0;
		#endif
	};

	chosen {
		bootargs = "console=ttyS0,115200 earlycon rdinit=/init root=/dev/ram0 rw initrd=0x8b000000,32M rdmem=0x100000000,2040M maxcpus=4 no5lvl";
		stdout-path = "serial0";
	};

	top_misc: top_misc_ctrl@7050000000 {
		compatible = "syscon";
		reg = <0x70 0x50000000 0x0 0x8000>;
	};

	rst: reset-controller {
		#reset-cells = <1>;
		compatible = "sophgo,reset";
		subctrl-syscon = <&top_misc>;
		top_rst_offset = <0x3000>;
		nr_resets = <RST_MAX_NUM>;
	};
};
